
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
</head>
<body>
    <form asp-action="Cadastrar" asp-controller="Produto" method="post">
        <fieldset>
            <legend>Cadastrar Produto</legend>
            <label>Nome:</label>
            <input name="txtNome" type="text" placeholder="Informe o nome do produto" /><br />

            <label>Descrição do produto:</label>
            <input name="txtDescricao" type="text" placeholder="Detalhes do produto" /><br />

            <label>Quantidade:</label>
            <input name="txtQuantidade" type="text" /><br />

            <label>Preço:</label>
            <input name="txtPreco" type="text" /><br />


            <input type="submit" value="GerarProduto" />
        </fieldset>
    </form>
</body>
</html>
