@*Tecnologia de Viwe - Razor*@
<!DOCTYPE html>
<html>
<head>
    <title>Gerenciamento Reserva</title>
</head>
<body>
    <h2>Gerenciamento de Reservas</h2>
    <a asp-action="Reservar" asp-controller="">Gerar reserva</a>
</body>

</html>